

.dropdown-button{
   
    color:white;
    background-color:#FF6060;
    width:100%;
    border-radius: 5px;
    border:none;
    display:flex;
    justify-content: space-between;
    padding:10px 20px 10px 10px;
    font-weight: 700;
    font-size: 18px;
   
   
     
    
    
    
  }
  .drop-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top:30px;
    margin-bottom: 30px;
    
    width:100%;
   
    
  
    
  }
 


  .dropdown-menu {
    list-style-type: none;
    font-weight: 400;
    margin-left: 10px;
    margin-right:10px;
    padding:0; 
    
    transform: translateY(0);
    transition:transform 0.15s ease;
    
    
    
    
    
   
   
  }
  .dropdown-menu.opening {
    animation:dropdown-fade 0.15s ease;
  }
  .dropdown-menu.closing {
   animation:dropdown-reverse 0.15s ease;
  }
 
  
  .dropdown{
    
    width:582px;
  }
  .dropdown li{
    max-width: 582px;
    text-align: justify;
  

  }  

  .dropdown-icon {
    transition: transform 0.3s ease;
    width: 20px;
    height: 20px;
  }

  .dropdown-icon.rotated {
    transform: rotate(180deg);
  }

  
  

  @keyframes dropdown-fade {
    0%{
     
      transform: translateY(-20%);
    }
    50%{
      transform: translateY(-10%)

    }
    75%{
      transform: translateY(-5%)
      
    }
    100% {
     
      transform: translateY(0);
    }
  }

  @keyframes dropdown-reverse{
    0%{
      
      transform:translateY(+20%)
    }
    50%{
      transform: translateY(+10%)

    }
    75%{
      transform: translateY(+5%)
      
    }

    100% {
     
      transform:translateY(0);
    }
  }